<main>
  <pre>
  Hello,

  You now have access to the <%= APP_NAME %> as <%= @user.role_key.humanize %> in "<%= @user.community.name %>" community.

  ------

  Sign-in using the app
  Email: <%= @user.email %>
  Password: <%= @password %>

  ------
  </pre>
</main>
